.library-content {
    /* max-width: 800px; */
    margin: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.library-content h1 {
    min-height: 60px;
    height: auto;
}
