html, body {
  margin: 0;
  font-family: 'Prompt', serif;
  background-image: linear-gradient(135deg, #f17720, #ffa630, #ebebeb, #00a7e1, #0474ba);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

h1 { margin: 0; font-size: 34px;}
h2 { margin: 0; font-size: 24px;}
h3 { margin: 0; font-size: 18px;}
p { margin: 0; font-size: 16px;}

@media (min-width: 768px) {
  h1 { margin: 0; font-size: 40px;}
  h2 { margin: 0; font-size: 32px;}
  h3 { margin: 0; font-size: 24px;}
  p { margin: 0; font-size: 16px;}
}

.landing-content {
  background: rgba(255,255,255,0.9);
  border-radius: 0px 0px 30px 30px;
  height: calc(100vh - 60px - 60px);
  text-align: center;
}